<div class="blogdetails-page flex-column">
    <div class="blog-header col-5 p-2">
        <h3 class="p-2">Blog Details</h3>
    </div>
    
    <div class="blog-body flex-column col-5">
        <div class="blog card">
            <div class="card-body">
                <h2 class="card-title">{{blog.title}}</h2>
                <p class="card-text">posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
                <p class="card-text">{{blog.blog_text}}</p>
            </div>
        </div>
    </div>

    <div class="comments-header col-5">
        <h3 class="p-2">Comments</h3>
    </div>

    <div class="comment-body flex-column col-5">
        {{#if logged_in}}
        <a id="add_a_new_comment" blogid="{{blog.id}}" class="flex-start ms-2">+Add a new comment</a>
        <div class="new-comment-form">
            <input  type="text" id="new_comment_input" class="ms-2"></input>
            <div class="new-comment-buttons">
                <button class="add-comment ms-1" type="button" blogid="{{blog.id}}">OK</button>
                <button class="cancel-comment" type="button">Cancel</button>
            </div>
        </div>
        {{/if}}
        
        <div class="blog card">
            <div class="card-body">
                {{#each comments as |comment| }}
                <div class="comment d-flex flex-row justify-content-between p-1">
                    <p class="card-text">{{comment.comment_text}}</p>
                    <p class="card-text">{{comment.user.name}} - {{format_date comment.date_created}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/js/blogdetails.js"></script>
