<div class="dashboard-page flex-column">
    <div class="blog-welcome-text col-5 p-2">
        <h3>Your Blog Posts</h3>
    </div>
    <div class="blog-content flex-row col-6">
        <a href="" id="add_a_new_post" class="flex-start p-4">+Add a new blog post</a>
        {{#each blogs as |blog| }}
        <div class="blog card p-2">
            <div class="blog-header card-body">
                <h2 class="card-title">{{blog.title}}</h2>
                <div class="d-flex flex-row justify-content-between">
                    <p class="card-tex">posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
                    <a href="" id="blog_details_link" blogid="{{blog.id}}" class="blog-details-link p-1">View blog details</a>
                </div>
            </div>
            <div class="blog-content">
                <p class="card-text ms-3">{{blog.blog_text}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/dashboard.js"></script>